* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body{
  font-family: Arial;
  text-align: center;
  background-color: #00E1D8;
}

article{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

section{
  margin: 2rem;
  padding: 3rem;
  background: linear-gradient(rgb(204, 0, 255) 40%, #de58bd);
  border-radius: 1em;
}

h1{
  margin: 3rem;
  font-size: 4em;
  font-weight: bold;
}

h3{
  transition: 0.75s;
}

h3:hover{
  transform:scale(1.8);
}

ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: start;
}

ul > li {
  list-style: none;
  margin: 2rem;
}

ul > li > ul{
  display:block;
  text-align: left;
  line-height:0;
  
}

#info {
  color:rgb(42, 15, 15);
}

#muziek{
  color:blue;
}

#sport{
  color:beige;
}

#fandom{
  color:aquamarine;
}





