* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body{
  font-family: Copperplate;
  text-align: center;
  background-color: #d2e5ff;
  color: #FFFE02;
}

button{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: .25rem;
  border: none;
  border-radius: 50%;
  color:#FFFE02;
  background: rgba(57, 178, 187, 0.604);
  font-size: 1.2rem;
}

article{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

section{
  position: relative;
  margin: 2rem;
  padding: 3rem;
  background: linear-gradient(130deg, #52d1ff 32.35%, #2775d5);
  border-radius: 1em;
  transition: 1s;
}

#boven{
  width: 50vw;
  min-width: 30em;
}

h1{
  margin: 3rem;
  margin-bottom: 0;
  text-align: left;
  font-size: 5em;
}

h1> p {
  font-weight: lighter;
  margin-top:0;
  margin-bottom: 3rem;
  text-align: right;
}

h2{
  font-size: 2em;
  transition: 1.5s;
}

h2:hover{
  transform: rotateY(360deg);
}

h3{
  font-size: 1em;
  transition: 0.75s;
}

h3:hover{
  transform:scale(1.8);
}

ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: start;
  padding: 0 3rem;
}

ul > li {
  list-style: none;
  margin: 2rem 0;
}

ul > li > ul{
  display:block;
  text-align: left;
  line-height:0;
  
}

#info {
  color:rgb(184, 3, 252);
  font-family: 'Tahoma', sans-serif;
}

a{
  color:rgb(184, 3, 252);
}

#muziek{
  color:rgb(3, 35, 224);
  font-family: 'Times New Roman', Times, serif;
}

#sport{
  color:rgb(255, 228, 184);
  font-family: 'Andalé Mono', monospace;
}

#fandom{
  color:rgb(87, 252, 178);
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

section.back{
  opacity: 0;
  transition: 0.5s;
}

/*flip stuff*/
body.flip section.front{
  opacity: 0;
  transform: scale(0.8);
  position: absolute;
}

body.flip section.back{
  opacity: 1;
}


