* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body{
  font-family: Copperplate;
  text-align: center;
  background-color: #00E1D8;
}

article{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

section{
  margin: 2rem;
  padding: 3rem;
  background: linear-gradient(rgb(168, 0, 210) 40%, #ff66d9);
  border-radius: 1em;
}

#boven{
  background: linear-gradient(rgb(79, 3, 98) 5%, #8f026c);
  width: 50vw;
  min-width: 30em;
}

h1{
  margin: 3rem;
  margin-bottom: 0;
  text-align: left;
  font-size: 5em;
}

h1> p {
  font-weight: lighter;
  margin-top:0;
  margin-bottom: 3rem;
  text-align: right;/* werkt niet want box veranderdt van grootte */
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1em;
  transition: 0.75s;
}

h3:hover{
  transform:scale(1.8);
}

ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: start;
}

ul > li {
  list-style: none;
  margin: 2rem;
}

ul > li > ul{
  display:block;
  text-align: left;
  line-height:0;
  
}

#info {
  color:rgb(42, 15, 15);
  font-family: 'Verdana';
}

#muziek{
  color:blue;
  font-family: 'Times New Roman', Times, serif;
}

#sport{
  color:beige;
  font-family: Haettenschweiler, sans-serif;
}

#fandom{
  color:aquamarine;
  font-family: american typewriter, sans-serif;
}





